.align-items-center{
    text-align: center;

}

.rowHeight{
    height: 20vh;
    margin-top: 20px;
}

.container{
  padding-top: 60px;
}

.FBstacker{
  margin-top: 7%;
}

@media only screen and (max-width: 430px) {
  .container {
    
    padding-top: 30px;

  }
}

@media only screen and (max-width: 430px) {
    .FBstacker {
      
      display: flex;
      flex-direction: column;
  
    }
  }
