.titleToBar{
    color:brown;
    font-size: 3vh;
}
.couchBar{
    border: 2px bold grey;
}
.couchIcon {
    width: 125px;
}
@media only screen and (max-width: 425px) {
    .couchIcon{
        width:75px;
    }
}

.greyedOut {
    opacity: 0.3;
}