.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0px;
}

.userCard {
  width: 25vw;
  height: 32vh;

  margin: 5px;
}

@media only screen and (max-width: 1100px) {
  .userCard {
    width: 35vw;
    height: 32vh;

    margin: 5px;
  }
}

@media only screen and (max-width: 470px) {
  .userCard {
    width: 90vw;
    height: 32vh;

    margin: 5px;
  }
}
